.button {

    display: inline-block;
    margin-bottom: 4rem;
    border-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: .5rem 2rem .5rem 2rem;
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 1.5px;

    &--red {

        color: $white;
        background: linear-gradient(to left, #F45C43, #EB3349);
    
    }

    &:visited {

        color: $white;

    }

}