<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robert Amos</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <h1 class="header header__title">
            <a class="header__link" href="/"><span class="header__link--firstname">Robert </span>Amos</a>
        </h1>
    </header>
    {% include "./_navigation.njk" %}
