<nav>
    <div class="navigation navigation--main" >
        <ul class="navigation__list">
            <li class="navigation__item"><a class="navigation__link" href="/posts">Posts</a></li>
            <li class="navigation__item"><a class="navigation__link" href="/about.html">About</a></li>
            <li class="navigation__item"><a class="navigation__link" href="/contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="navigation-mobile">
        <label for="hamburger-toggle">
            <input class="navigation-mobile__input" type="checkbox" id="hamburger-toggle">
            <div class="navigation-mobile__hamburger"></div>
            <div class="navigation-mobile__hamburger"></div>
            <div class="navigation-mobile__hamburger"></div>
            <ul class="navigation-mobile__list">
            <div>
                <li class="navigation-mobile__item"><a class="navigation__link" href="/">Home</a></li>
                <li class="navigation-mobile__item"><a class="navigation__link" href="/posts">Posts</a></li>
                <li class="navigation-mobile__item"><a class="navigation__link" href="/about.html">About</a></li>
                <li class="navigation-mobile__item"><a class="navigation__link" href="/contact.html">Contact</a></li>
            </div>
            </ul>
        </label>
    </div>
</nav>